@import '../variables.scss';
@import '../mixin.scss';

.background {
  position: relative;
  border: 1px solid transparent;
  background-color: $BackgroundColor;
}

.contentWrapper {
  @include content;
  display: flex;
  justify-content: space-between;
}

.mainContent {
  @include basicFlexWrap;
  width: 920px;
  .latestArticle {
    @include basicFlexWrap;
    width: 100%;
    height: 260px;
    background-color: white;
    border-radius: $BorderRadiusNormal;
  }
  .partition {
    width: 100%;
    height: 20px;
    background-color: $BackgroundColor;
  }
  .articleWrapper {
    @include basicFlexWrap;
    width: 100%;
    height: 740px;
    background-color: white;
    border-radius: $BorderRadiusNormal;
    .article {
      display: flex;
      width: 800px;
      height: 44px;
      line-height: 16px;
      align-items: center;
      border-bottom: 1px solid lightgray;
      .date {
        width: 140px;
        color: black;
        font-size: 12px;
      }
      .title {
        font-weight: $FontWeightMedium;
        color: #607d8b;
        &:hover{
          @include linkHover;
        }
      }
    }
  }
  .catalogue {
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    padding-left: 15px;
    font-size: 16px;
  }
}

.rightContent {
  @include basicFlexWrap;
  width: 260px;
  border-radius: $BorderRadiusNormal;
}
