.background {
  position: relative;
  border: 1px solid transparent;
  background-color: #f7f7f7;
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 1000px;
  border: 1px solid lightgray;
  border-radius: 12px;
  margin: 0 auto;
  background-color: white;
  margin-top: 20px;
}

.mainContent {
  width: 900px;
}

.rightContent {
  width: 220px;
}