@import "./variables.scss";

@mixin basicFlexWrap {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

@mixin linkHover {
  color: $LinkHoverColor;
  cursor: pointer;
}
