.contentWrapper {
  width: 1200px;
  height: 1000px;
  border: 1px solid black;
  margin: 0 auto;
  background-color: lightblue;
}

.bannerWrapper {
  height: 250px;
  border: 1px solid red;
  margin-top: 40px;
  background-color: green;
}